<div class="content-card">
  <%= form_with model: [@article, @article.comments.build] do |form| %>
    <p>
      <%= form.label :commenter, class: "hidden-label" %>
      <%= form.text_field :commenter, placeholder: "Name" %>
    </p>
    <p>
      <%= form.label :body, class: "hidden-label" %>
      <%= form.text_area :body, placeholder: "Leave a comment!" %>
    </p>
    <p>
      <%= form.submit %>
    </p>
  <% end %>
</div>